{% extends 'base.html' %}


{% block content %}
<!--내용추가할곳-->
        <div class="bigbox">
                <div class="review">
                    <p><img src="{{ blog.사진.url }}" style="height: 300px;" alt="hyeonee"></p>
                    <p>품명 : {{ blog.제목 }}</p>
                    <p>Point : {{ blog.포인트 }}</p>
                    <p>임대기간 : {{ blog.임대기간 }}</p>
                    <p>평균평점 : {{average}}</p>
                    {{blog.내용}}

                    <input type='button' value='임대하기'> &emsp;
                    <input type='button' value='찜하기'> <br><br><hr><br>

                    <!-- 댓글 기능-->

                    <form method = "POST" enctype = "multipart/form-data">
                        {% csrf_token %}
                        {% if user.is_authenticated %}
                        <input type="hidden" name="작성자" maxlength="10" required id="id_작성자" value="{{ user.username }}">        
                        <strong>{{ user.username }}</strong>
                        {% else %}
                        <input type="hidden" name="작성자" maxlength="10" required id="id_작성자" value="익명">
                        <strong>익명</strong>{{form.평점}}
                        {% endif %}
                        <br>
                                
                        <textarea name="내용" cols="80" rows="3" maxlength="100" required id="id_내용" style="resize:none;"></textarea>
                        <input type = "submit" value="댓글달기">
                        <br>                       
                        
                        
                    </form>

                    <div class="box">
                        {% for comment in blog.com.all %}   
                            <div class="comment">
                                <div class="date">{{ comment.created_date }}</div>
                                <strong>{{ comment.작성자 }}</strong>
                                <p>{{ comment.내용|linebreaks }}</p>평점 : {{comment.평점}}
                                
                            </div>
                            <a href="{% url 'co_update' comment.id %}">후기 수정</a> &emsp;
                            <a href="{% url 'co_delete' comment.id %}">후기 삭제</a>
                            <hr>
                            {% empty %}
                            <p>아직 댓글이 없습니다. :(</p>
                        {% endfor %} 
                    </div>    
                </div>
        </div>
{% endblock %}