{% extends 'base.html' %}

{% block content %}

<div class="row">
        <header class="header" style="font-size: 150px;">맛집 리뷰</header>

        <div class="nav_bar">
            <ul class="nav">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">환영합니다. {{ user.username }} 님!</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="">글쓰기</a>
                        <a class="dropdown-item" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
                        <form id="logout" method="POST" action="{% url 'logout' %}">
                            {% csrf_token %} <input type="hidden" />
                        </form>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{% url 'signup' %}">Signup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul> 
        </div> 

        {% for mukbang in mukbang.all %}
        <div class="review_box">
            <h3>{{ mukbang.title }}</h3>
            <img class="image" style="height:350px;" src="{{ mukbang.image.url }}" alt="Card image cap">
            <p>{{ mukbang.description }}</p>
        </div>
        {% endfor %}
    </div>

{% endblock %}