<!DOCTYPE html>
<html lang="kr">
    {% load static %}
    <head>
        <meta charset="utf-8">
        <title>빌려DREAM</title>
        <link rel="stylesheet" type="text/css" href="{% static 'accounts/login.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="mainback">
            <div class="mainbox">
                <header class="header" style="font-size: 100px">빌려DREAM</header>
                <h2>로그인</h2>
                <div class="login_big_box">

                    {% if error %}
                        {{ error }}
                        <br>
                        <br>
                    {% endif %}
                    <form method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        
                        <div class="login_box">
                            <input type="text" name="username" placeholder="USERNAME">
                            <br><br>
                            <input type="password" name="password" placeholder="PASSWORD">
                        </div>
                        <br>
                        <div class="submit_btn">
                            <input type="submit" value="login!">
                        </div>
                    </form>    

                    <br>
                    <div class="signup">
                        <a href="{% url 'signup' %}">아이디가 없으신가요?</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </body>
</html>